[Unit]
Description=QuadStar Auxillary Computer - capture, zip and platesole pipeline

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/QuadStar_Auxillary_Computer
ExecStart=/home/pi/QuadStar_Auxillary_Computer/run_quadstar.sh

# Restart if crash
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=0

# Send SIGTERM to all scripts
# When stopping give them time to clean up before SIGKILL
KillMode=control-group
TimeoutStopSec=15

# Discard stdout, keep stderr
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
